[Unit]
Description=Update DNS entry in cloudflare every {{ cloudflare_ddns_timer_mins }} minutes

[Timer]
OnBootSec=1min
OnCalendar=*:0/{{ cloudflare_ddns_timer_mins }}
Unit=cloudflare_ddns.service

[Install]
WantedBy=basic.target
