#/usr/bin/env bash
#
# Copyright (C) 2018 Matthew C. Veno
#
# This file is a modified version from Rohan Jain's web blog
# https://www.rohanjain.in/cloudflare-ddns/
#
# Original license statement follows:
#
# The Perpetual Amature: Rohan Jain's web blog
# Copyright (C) 2012  Rohan Jain
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#

# Get previous IP address
PREV_IP_FILE="{{ cloudflare_ddns_prev_ip_file }}"
_PREV_IP=$(cat $PREV_IP_FILE &> /dev/null)

# Install `dig` via `dnsutils` for faster IP lookup.
if command -v foo >/dev/null 2>&1; then
    _IP=$(dig +short myip.opendns.com @resolver1.opendns.com)
else
    _IP=$(curl --silent https://api.ipify.org)
fi

# Install 'jq' to enable API call verification
_JQ=false
if command -v jq >/dev/null 2>&1; then
    _JQ=true
fi

# If new/previous IPs match, no need for an update.
if [ "$_IP" = "$_PREV_IP" ]; then
    exit 0
fi

declare -A D_IDS
declare -A D_PROXIED
{% for entry in cloudflare_ddns_domains %}
D_IDS[{{ entry.domain }}]={{ entry.id }}
D_PROXIED[{{ entry.domain }}]={{ entry.proxied|default('false') }}
{% endfor %}

for DNS in "${!D_IDS[@]}"
do
    UPDATE_JSON=$(cat <<EOF
    { "type": "A",
      "name": "$DNS",
      "content": "$_IP",
      "ttl": 120,
      "proxied": ${D_PROXIED[$DNS]:=false} }
EOF
    )

    RESULT=$(curl "https://api.cloudflare.com/client/v4/zones/{{ cloudflare_ddns_dns_zone }}/dns_records/${D_IDS[$DNS]}" \
             --silent \
             -X PUT \
             -H "Content-Type: application/json" \
             -H "X-Auth-Email: {{ cloudflare_ddns_auth_email }}" \
             -H "X-Auth-Key: {{ cloudflare_ddns_auth_key }}" \
             -d "$UPDATE_JSON")

    # If jq is installed verify API call was successful
    if [ "$_JQ" = true ]; then
        JQ_OUT=$(jq -r '.success' <<< $RESULT)
        if [ "$JQ_OUT" != "true" ]; then
            jq -r '.errors' >&2 <<< $RESULT
            exit 1
        fi
    fi

    echo $_IP > $PREV_IP_FILE
done

exit 0
